# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
backend/*.pyc

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
frontend/.next/
frontend/out/

# Misc
.DS_Store
*.pem
team.db
